#sign-up-btn, #log-in-btn {
    margin-left: 3px;
    margin-right: 3px;
}
nav.navbar {
    margin-bottom: 20px;
}
#search-form {
    margin-left: 15vw;
    width: 45vw;
}
#search-input {
    width: 39vw;
}
