#title-header {
    margin-top: 50px;
}
#link-tab {
    margin-top: 25px;
    margin-bottom: 25px;
}
.draft-content, .published-content {
    margin-bottom: 25px;
}
a.nav-link, span.caret {
    color: #000;
}
#write-story-btn {
    color: #05af1b;
    background-color: #fff;
    border-color: #05af1b;
}
#write-story-btn:hover {
    color: #05af1b;
    background-color: #fff;
    border-color: #05af1b;
}